
body {
    min-width: 300px;
    background-color: slategrey;
    color: white;
}

body .topLabel {
    text-align: center;
    margin: 0px;
    font-variant: small-caps;
}

.radioBox {
    margin-left: 60px;
}

.bodyWrapper .exchangeIcon {
    background-color: floralwhite;
    margin: 0px 15px -9px 15px;
    width: 25px;
    border-radius: 15px;
    cursor: pointer;
}

.bodyWrapper .hrSplitter{
    margin: 15px 0px -5px 0px;
}

.bodyWrapper .toolBox {
    float: left;
}

.toolBadge {
    font-weight: bold;
    font-size: 13px;
}

.underlineText {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.pullLeft {
    float: left;
}

.textCenter {
    text-align: center;
}

.hidden {
    display: none;
}

.toolTextInput {
    width: 80px;
}

.toolBtn {
    background: #73AD21;
    color: white;
    border: 1px solid beige;
    border-radius: 9px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.toolBtn:focus {
    background: green;
}

.toolTextArea {
    width: 290px;
}

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
    background: url(switch.gif) repeat-x;
    display: block;
    float: left;
}

.cb-enable span, .cb-disable span {
    line-height: 30px;
    display: block;
    background-repeat: no-repeat;
    font-weight: bold;
    border-right: 2px solid black;
}

.cb-enable span {
    background-position: left 30px;
    padding: 0 10px;
    color: black;
}

.cb-disable span {
    background-position: right 0px;
    padding: 0 10px;
    color: black;
}

.cb-disable.selected {
    background-position: 0 -30px;
}

.cb-disable.selected span {
    background-position: right -30px;
    color: white;
}

.cb-enable.selected {
    background-position: 0 -60px;
}

.cb-enable.selected span {
    background-position: left -60px;
    color: white;
}

.switch label {
    cursor: pointer;
}

.switch input {
    display: none;
}